
@{
    ViewBag.Title = "关于我们";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bg_green header">
    <div class="header_title f-cf f-tl bor-r-no">
        <a href="/Charge/Index" class="backindex"></a>
        <p class="" style="font-weight: 700">关于我们</p>
    </div>
</div>
<div style="" class="wrap">
    <p>北京云房数据技术有限责任公司作为独立第三方房地产数据服务商，致力以房地产估值为入口，联动房地产交易、银行金融、地税及估价行业四大服务领域，建立房地 产数据生态圈，实现房地产估值O2O，立志成为国内最为专业、领先、全面的房地产数据供应商、软件系统供应商和项目服务供应商。</p>
    <h2>客服电话：400-017-2707</h2>
    <h2>
        客服邮箱：service@yunfangdata.com
    </h2>
    <h2>公司网站：www.yunfangdata.com</h2>
</div>
