<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
    <section name="ReportCompanyMap" type="System.Configuration.DictionarySectionHandler" />
    <section name="MemcachedConfig" type="System.Configuration.SingleTagSectionHandler" />
  </configSections>
  <!--<connectionStrings>
   
    --><!--权限系统SDK新增配置--><!--
    --><!--权限系统 CRM只写库 --><!--
    <add name="PermissWrite" connectionString="Data Source=182.92.219.161;port=3306;Initial Catalog=peacock_database_crm;user id=root;password=gh001;" providerName="MySql.Data.MySqlClient" />
    --><!--权限系统 CRM只读库 --><!--
    <add name="PermissRead" connectionString="Data Source=182.92.219.161;port=3306;Initial Catalog=peacock_database_crm;user id=root;password=gh001;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>-->
  <!--Memcached最新配置，MinPoolSize/MaxPoolSize 最大最小连接数;
   (Zone,UserName,Password)只有切换到阿里云时按照实际情况来配置,
   MemcachedServer,切换到本地时可以配置多个服务器，以逗号隔开,
   MemCachedFactoryName:Local,本地MemCached；Aliyun，阿里云,   123.57.209.198
   IpType:Net 外网访问,Local 局域网访问  内网地址:5be1851f64f64bd4.m.cnbjalicm12pub001.ocs.aliyuncs.com
   -->
  <MemcachedConfig MemcachedServer="127.0.0.1:11211" IpType="Net" MemCachedFactoryName="Local" MemcachedProjectKey="PepTestLocal:" AliyunPort="10099" Zone="" UserName="5be1851f64f64bd4" Password="wd7NusKrcvUvxavTBIOa" MinPoolSize="5" MaxPoolSize="200" />
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--Memcached服务地址-->
    <add key="MemcachedServer" value="192.168.3.250:11211" />
    <!--CRM数据缓存时间-->
    <add key="CrmCacheTime" value="3600" />
    <!--业务系统AppCode-->
    <add key="YewuAppCode" value="981a5e6bcfe246afb18f0830385adb15" />
    <!--内业系统API接口地址-->
    <add key="NeiYeAPI" value="http://local.inwork.com/" />

    <!--微信接口-->
    <add key="WeChatAppId" value="wx4e097f5d61f0844b" />
    <add key="WeChatSecret" value="11e40ef0bd507332f0ba09ce31f2dd45" />
    
    <!--微信消息接口-->
    <add key="WeChatToken" value="pepwechat" />
    <add key="WeChatEncodingAESKey " value="VaEvvkSrKL47yBrsdDuC0iAXUW0FgZhGq3MHPYLHrHa" />

    <add key="WebDomainName" value="http://local.webchat.com/" />
    <add key="BindingEnabled" value="false" />
    <!-- 根据IP获取城市 -->
    <add key="ipcity" value="http://ip.taobao.com/service/getIpInfo.php?ip={0}" />
    <add key="ReLogInUrl" value="http://local.inwork.com/" />
    
    <!--O2O接口-->
    <add key="O2OAPI" value="http://123.57.209.198:8020/EstimateMiddleware" />
    <!--<add key="O2OUserKeyId" value="cc8206ef73ee4da098d096b71b1ce737" />
    <add key="O2OUserAccessKey" value="6c662d54a3554417b09bed54f813323f" />-->
    <add key="O2OToken" value="580a73c575daa1fc854846d0e736ad88" />
    <add key="OtherLinkCompany" value="北京大地盛业房地产土地评估有限公司" />
    <add key="OtherLinkUrl" value="http://124.205.89.194:8077/query.aspx" />
    <!--模板消息ID-->
    <add key="ProjectTemplateId" value="TC_hHHjtY9nTF1cjQjRM47ljQVAlxLmkYJgCBlt5xX8" />
    <!--权限-->
    <add key="PowerApiUrl" value="http://123.57.209.198:8021/permissionSystem" />   
  </appSettings>
  <!--配置报告公司名对应关系-->
  <ReportCompanyMap>
    <add key="仁达北京分公司" value="北京仁达房地产评估有限公司" />   
  </ReportCompanyMap>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="/User/Login" cookieless="UseCookies" timeout="1800" name="PepWeChat-User" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.4000" newVersion="3.1.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="MySql.Data.Entity.MySqlConnectionFactory, MySql.Data.Entity.EF6" />
    
  </entityFramework>
  
</configuration>