#忽略windows生成的缩略图文件
Thunbs.db
#忽略Visual Studio生成时的产生的文件
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
[Bb]in
[Dd]ebug*/
*.sbr
*.dll
obj/
[Rr]elease*/
_ReSharper*/
packages/
logs/
TempFile/
*.orig
*.doc
*.BASE
*.LOCAL
*.REMOTE
*.user
