@{
    ViewBag.Title = "用户关注页面";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrap">
    <h1>
        尊敬的用户您好！
    </h1>
    <p>
        为了给您更好的用户体验并保证报告的真实性，请您在进行报告真伪验证查询前关注该平台的公众号再进行真伪验证。
    </p>
    <div class="content">
        <h2>
            您可以通过以下两个方式进行关注：
        </h2>
        <p>
            方式一：
            用微信扫描下方二维码
        </p>
        <p><img src="/Content/images/qrcode.jpg" /></p>
        <p>
            方式二：
            1、打开微信通讯录界面，选择【公众号】
        </p>
        <p><img src="/Content/images/1.png" />    </p>
        <p>
            2、选择右上角【+】，进行添加新的公众号。
        </p>
        <p><img src="/Content/images/2.png" />    </p>
        <p>
            3、在搜索栏中属于【评E评】
        </p>
        <p> <img src="/Content/images/3.png" />    </p>
        <p> <img src="/Content/images/4.png" />    </p>
        <p>
            4、在搜索显示出的结果中，选择【评E评平台】
        </p>
        <p><img src="/Content/images/5.png" />    </p>
        <p>
            5、选择关注即可使用
        </p>
        <p>
            <img src="/Content/images/6.png" />
        </p>
        <p>    <img src="/Content/images/7.jpg" />    </p>
    </div>
</div>
