<!DOCTYPE html>
<html lang="zh-cn" style="overflow-x: hidden">
<head>
    <meta charset="utf-8" />
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
    <!--手机兼容-->
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control" />
    <meta content="no-cache" http-equiv="pragma" />
    <meta content="0" http-equiv="expires" />
    <meta content="telephone=no, address=no" name="format-detection" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link href="~/Content/css/font-awesome.min.css?v=@HttpContext.Current.Application["JSVersion"]" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/weui.min.css?v=@HttpContext.Current.Application["JSVersion"]" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css?v=@HttpContext.Current.Application["JSVersion"]" />
    <script src="~/Content/plug-in/zepto/zepto.min.js?v=@HttpContext.Current.Application["JSVersion"]"></script>
    <script src="~/Content/plug-in/zepto/event.js?v=@HttpContext.Current.Application["JSVersion"]"></script>
    <script src="~/Content/plug-in/zepto/touch.js?v=@HttpContext.Current.Application["JSVersion"]"></script>
    <script src="~/Content/plug-in/zepto/fx.js?v=@HttpContext.Current.Application["JSVersion"]"></script>
    <script src="~/Content/plug-in/layer/layer.js?v=@HttpContext.Current.Application["JSVersion"]"></script>
</head>
<body style="overflow-x: hidden">

    @RenderBody()
</body>
</html>
