@using Peacock.PEP.WeChat.Model.DTO;
@{
    var ChargeModel = (ChargeModel)ViewBag.ChargeModel;
}
<div class="bg_green header f-cf">
    @*<div class="header_title">评E评-估值流程与管理系统</div>
    <div>
        <a href="javascript:void(0);" class="current_user visited" id="user"></a>
    </div>*@
    <div class="f-fr"><a href="javascript:void(0);" class="circle" style=" " id="user"><i class="tx_c fa fa-th"></i></a></div>
    <div class="header_title f-cf f-tl bor-r-no" style="display: inline">
        <a  onclick="javascript:location.replace('/Charge/Index?currentType=@ViewBag.CurrentType');" class="backindex"></a>
        <p>@ChargeModel.ProjectNo</p>
    </div>
</div>
<div class="posi-absoltop" id="exited" style="right:0;">
    <p><span class="tx_c user-text">@ViewBag.UserName</span></p>
    <div class="wrap-line"></div>
    <ul>
        @*<li class="txt"><a href="javascript:void(0);"><span class="f-fl tx_c arrow"><i class="fa fa-file-text-o"></i></span><span class="f-fl tx_c txt">帮助文档</span></a></li>
            <li class="wrap-line"></li>*@
        <li class="txt"><a href="/Charge/AboutUS"><span class="f-fl tx_c arrow"><i class="fa fa-users"></i></span><span class="f-fl tx_c text">关于我们</span></a></li>
        <li class="wrap-line"></li>

    </ul>
    <div class="wrap-top"></div>
    <div class="wrap-line"></div>
    <ul>
        <li class="txt other" id="quick"><a href="javascript:void(0)"><span class="f-fl tx_c arrow"><i class="fa fa-sign-out"></i></span><span class="f-fl tx_c text">退出登录</span></a></li>
        <li class="wrap-line"></li>
    </ul>
</div>


<script type="text/javascript">
    $(function () {
        init();
        var $container = $('.header');
        $container.on('click', '#user', function () {
            if ($('#user i').hasClass("fa-th")) {
                $('#exited').height(getHeight()).show();
                //$('#exited').animate({ right: 0 }, 400);
                $("#user i").removeClass("fa-th").addClass("fa-list");
            } else {
                init();
            }
        });
 
        //退出
        $("#quick").click(function () {
            $.ajax({
                type: 'POST',
                url: '/User/Logout',
                data: null,
                dataType: 'json',
                success: function(result) {
                    if (result.Success == true) {
                        self.location.replace('/User/Login');
                    }
                },
                errpr: function() {
                    alert('网络异常，请稍后再试!');
                }
            });
            init();
        });


        $(window).scroll(function () {
            init();
        });
    });

    function init() {
        $("body").width($(window).width());
        //$('#exited').animate({ right: '-50%' }, 400);
        $('#exited').hide();
        $('#user i').removeClass("fa-list").addClass("fa-th");
    }

    function getHeight() {
        var clientHeight = $(window).height();
        var bodyHeight = $("body").height();
        var hheight = $('.header').height();
        var _height = 0;
        if (clientHeight >= bodyHeight) {
            _height = clientHeight;
        } else {
            _height = bodyHeight;
        }
        _height = _height - hheight;
        return _height;
    }
</script>

