@{
    ViewBag.Title = "Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bg_green header">
    <div class="header_title f-cf f-tl bor-r-no">
        <a href="/Charge/Index" class="backindex"></a>
        <p class="" style="font-weight: 700">汇总数据</p>
    </div>
</div>
<div class="cardlist no-paddding">
    <div class="card">
        <div class="card-body">
            <div class="xm-kf">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="f-fwb">所属公司：</td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">所属部门：</td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">报告年度：</td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">估价目的：</td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">目的描述：</td>
                        <td colspan="3">为确定房地产抵押贷款额度提供价值参考依据。</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="xm-kf">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="f-fwb">估价委托人：</td>
                        <td colspan="3">光大银行</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">报告使用方：</td>
                        <td colspan="3">光大银行</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">支行：</td>
                        <td colspan="3">光大银行</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">报告有效期：</td>
                        <td colspan="3">三个月</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">实地勘察期：</td>
                        <td colspan="3">2016-8-8</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">价值日期：</td>
                        <td colspan="3">2016-8-8</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">作业起始日期：</td>
                        <td> 2016-8-8 </td>
                        <td class="f-fwb">作业结束日期：</td>
                        <td> 2016-8-8</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">现场勘查人员：</td>
                        <td> 张三</td>
                        <td class="f-fwb">报告撰写人员：</td>
                        <td> 李四</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">项目负责人：</td>
                        <td> 张三</td>
                        <td class="f-fwb">估价师1：</td>
                        <td> 李四</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">估计师2：</td>
                        <td> 张三</td>
                        <td class="f-fwb">估价师合并：</td>
                        <td> 张三 李四</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">估计方法1：</td>
                        <td> 市场比较法</td>
                        <td class="f-fwb">估价方法2：</td>
                        <td> 收益法 </td>
                    </tr>
                    <tr>
                        <td class="f-fwb">评估单价(元/㎡)：</td>
                        <td> 1000</td>
                        <td class="f-fwb">评估总价(万元)：</td>
                        <td>1000 </td>
                    </tr>
                    <tr>
                        <td class="f-fwb">完整项目地址：</td>
                        <td colspan="3">广州市越秀区水荫路52号大院中环大厦9楼 </td>
                    </tr>
                    <tr>
                        <td class="f-fwb">优先受偿信息：</td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="xm-kf">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="f-fwb">土地使用权人：</td>
                        <td>&nbsp;</td>
                        <td class="f-fwb">土地用途：</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">使用权类型：</td>
                        <td>&nbsp;</td>
                        <td class="f-fwb">土地使用权面积(㎡)：</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">图号：</td>
                        <td>&nbsp;</td>
                        <td class="f-fwb">地号：</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">终止日期：</td>
                        <td>&nbsp;</td>
                        <td class="f-fwb">土地剩余年限(年)：</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">国有土地使用号：</td>
                        <td>&nbsp;</td>
                        <td class="f-fwb">土地坐落：</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="xm-kf">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="f-fwb">出让人：</td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">受让人：</td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="f-fwb"> 宗地用途： </td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="f-fwb"> 宗地面积(㎡)：</td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">出让面积(㎡)： </td>
                        <td colspan="3">&nbsp;</td>

                    </tr>
                    <tr>
                        <td class="f-fwb">出让地价款(万)： </td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">政府土地收益(万)：</td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">土地发开补偿(万)： </td>
                        <td colspan="3">&nbsp;</td>
                    </tr>   
                    <tr>
                        <td class="f-fwb">规划容积率：</td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">规划总建筑面积：</td>
                        <td colspan="3"> </td>
                    </tr>
                    <tr>
                        <td class="f-fwb">规划地上建筑面积：</td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="f-fwb"> 规划地下建筑面积： </td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">出让合同编号：</td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">签订日期： </td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="xm-kf">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="f-fwb">建设用地规划许可证号：</td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">用地单位：</td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">用地项目名称：</td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">用地位置：</td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">用地性质：</td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">用地面积：</td>
                        <td>&nbsp;</td>
                        <td class="f-fwb">建设规模(㎡)：</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="xm-kf">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="f-fwb">建设工程施工许可证号：</td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">施工单位：</td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">监理单位：</td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">建设规模(㎡)：</td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="xm-kf">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="f-fwb">借款人姓名：</td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">借款人身份证：</td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">区片编号：</td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">基本地价级别：</td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="f-fwb">结算单位经办：</td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>