
.bg_sp,.btn_blok,.f-cf{clear:both}blockquote,body,button,caption,dd,div,dl,dt,fieldset,figure,form,h1,h2,h3,h4,h5,h6,hr,html,input,legend,li,menu,ol,p,pre,table,td,textarea,th,ul{margin:0;padding:0}address,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}table{border-collapse:collapse;border-spacing:0}caption,th{text-align:left;font-weight:400}abbr,body,button,fieldset,html,iframe,img,input{border:0}address,cite,dfn,em,i,var{font-style:normal}li{list-style:none}h1,h2,h3,h4,h5,h6,small{font-size:100%}sub,sup{font-size:83%}code,kbd,pre,samp{font-family:inherit}q:after,q:before{content:none}textarea{overflow:auto;resize:none}label,summary{cursor:default}a,button{-webkit-tap-highlight-color:rgba(255,0,0,0);cursor:pointer}b,em,h1,h2,h3,h4,h5,h6,strong{font-weight:500}a,a:hover,del,ins,s,u{text-decoration:none}[hidefocus],body,button,input,keygen,legend,select,summary,textarea{outline:0}.weui_btn{text-shadow:none}.weui_btn_lan{background:#2d5be3}.weui_btn_fff{background:#fff}.weui_btn_org{background:#ED9832}.weui_btn_lan:not(.weui_btn_disabled):active,.weui_btn_lan:not(.weui_btn_disabled):visited{background:#2447af;color:#fff}.weui_btn_gren{background:#219c30}.weui_btn-red{background:#e11919}.weui_btn_gren:not(.weui_btn_disabled):active,.weui_btn_gren:not(.weui_btn_disabled):visited{background:#01662e;color:#fff}.weui_btn_1,.weui_btn_2{display:block;padding-left:3px;padding-right:3px;margin-left:auto;margin-right:auto;text-decoration:none;color:#FFF;line-height:2.33333333;-webkit-tap-highlight-color:rgba(0,0,0,0);overflow:hidden;text-align:center;box-sizing:border-box}.weui_btn_1{position:relative;border-radius:5px}.weui_btn_1:after{content:" ";width:200%;height:200%;position:absolute;top:0;left:0;-webkit-transform:scale(.5);-ms-transform:scale(.5);transform:scale(.5);-webkit-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;box-sizing:border-box;border-radius:10px}.inp_auto,.width_100{width:100%}.con_h,.header,.weui_btn_2{position:relative}.weui_btn_gray{background:#efeff4}.weui_btn_pink{background:#f94877}.weui_btn_yel{background:#ffc800}.weui_btn_danqing{background:#73cf42}.weui_btn_dark{background:#9a9a9a}.page_p{text-align:center;color:#f94877}.weui_cell_1{padding:10px 15px;display:box}.weui_cell_primary_1{width:100%;white-space:nowrap;padding:0}.weui_btn.weui_btn_tiaojian{line-height:35px;font-size:14px;padding:0 .5em;display:inline-block}.font_s_05{font-size:.5em}.font_s_06{font-size:.6em}.font_s_07{font-size:.7em}.font_s_08{font-size:.8em}.font_s_085{font-size:.85em}.font_s_09{font-size:.9em}.font_s_1{font-size:1em}.font_s_11{font-size:1.1em}.font_s_12{font-size:1.2em}.font_s_13{font-size:1.3em}.font_s_14{font-size:1.4em}.font_s_7{font-size:.75em}.font_s_8{font-size:.8em}.font_s_9{font-size:.9em}.font_b_12{font-size:1.2em}.font_b_13{font-size:1.3em}.fb_ber{font-weight:700!important}.tx_c{text-align:center}.tx_l{text-align:left}.tx_r{text-align:right}.bor{border:1px solid}.bor_all{border:1px solid #ECECEC}.bor_r_6{border-radius:6px}.bor_no{border:none}.bor_b{border-bottom:1px solid}.bor_b2{border-bottom:2px solid}.bor_t{border-top:1px solid}.bor_b_type_x{border-bottom-style:dashed;border-bottom-width:1px}.bor_type_x{border-style:dashed}.bor_color_hui{border-color:#dce0e0}.bor_color_c4c{border-color:#C4C8CC}.bor_color_c7{border-color:#c7cdcf}.bor_color_lan{border-color:#2d5be3}.bor_color_ec{border-color:#ececec}.bor_rad_0{border-radius:0}.bor_rad_3{border-radius:3px}.bor_rad_20{border-radius:20px}.weui_cell.bor-no::before,.weui_cell.bor-no:before,.weui_cells.bor-no::before,.weui_cells.bor-no:before{border-top:0 solid #d9d9d9}.weui_cells.bor-no::after{border-bottom:0 solid #fff}.error_bor{border-color:#F94877}.error_color{color:#F94877}.text_color_4c5{color:#4c5661}.text_color_gren{color:#00b450}.text_color_sh{color:#6d747d}.text_color_595{color:#595757}.text_color_585{color:#585f5a}.fa{color:#FA7998}.text_color_deblue{color:#5A7CE8}.text_color_dered{color:#FA7998}.text_color_9f{color:#9fa0a0}.text_color_333{color:#333}.text_color_gray{color:#5A5858}.text_color_c7{color:#c7cdcf}.text_color_lan{color:#2d5be3}.text_color_qhui{color:#a6aaaf}.text_color_c80{color:#ffc800}.text_color_fff{color:#fff}.text_color_green{color:#219c30}.text_bg_fff{background:#fff}.text-bg-gray{background:#fbf9fe}.inp_auto{border:none}.f-fl{float:left}.f-fr{float:right}.icon{width:20px;margin-right:4px;margin-left:8px;display:block}.pad_tb_15 .weui_cell_ft{padding-right:16px}.weui_icon_logo{background:url(../images/logo.png) center no-repeat;background-size:9em}.weui_icon_user{background:url(../images/user.png) center no-repeat;background-size:100% 100%}.weui_icon_search{background:url(../images/btn_search.png) left center no-repeat;background-size:1.1em}.backindex{width:40px;background:url(../images/zy_sj.png) 2px 6px no-repeat;background-size:2em;height:2.8em;float:left;margin-right:1em}.weui_cell .weui_cells_checkbox .checkboxedall .weui_icon_checked:before{content:'\EA06';color:#09BB07}@media screen and (max-width:445px){.xiaoquaround{width:215px}}.pad_tb_02{padding:.2em 0}.pad_tb_15{padding:1.5em 0}.pad_tb_31{padding:3em 0 1em}.pad_l_05{padding-left:.5em}.pd-20{padding:5px 30px}.pad_b_2{padding-bottom:2em}.pad_lr_04{padding:0 .4em}.mar_t_1{margin-top:1em}.mar_t_15{margin-top:1.5em}.mar_t_2{margin-top:2em}.mar_t_3{margin-top:3em}.mar_t_4{margin-top:4em}.mar_15{margin:1em 1.5em .8em}.mar_l_15{margin-left:15px}.mar_r_15{margin-right:15px}.mar_t_08{margin-top:.8em}.mar_b_2{margin-bottom:2em}.mar_b_3{margin-bottom:3em}.mar_tb_1{margin:1em 0}.mar_tb_2{margin:2em 0}.mar_tb_21{margin:2em 0 1em}.mar_lr_1{margin:0 1em}.mar_lr_15{margin:0 15px}.wid_25{width:25%}.user{width:1.1em;height:1.2em;margin-top:5px;margin-left:1em;padding-right:.6em;border-right:1px solid #ececec}.bd.spacing{padding:0 15px}.bg_black{background:#222}.bg_green{background-color:#219C30}.error_bg{width:2.4em;height:2.4em}.weui_dialog_confirm .weui_dialog .weui_dialog_hd{text-align:center}.index_logo{width:5em;height:5em}.index_bg{background:#f2f2f2}.weui_cell_primary{width:100%;white-space:normal;padding:0 .4em}.weui_cells:after{border:0}.btn_two{float:left;width:48%}.mar_r_bf_4{margin-right:4%}.bg_sp{height:39px;margin-top:1em}.wid_49{width:49%}.wid_32{width:32%}.mar_bf_lr_1{margin:0 1%}.mar_bf_lr_2{margin:0 2%}.set{background:url(../images/set_sj.png) 97% 4px no-repeat;background-size:1.1em}.bg_list{display:block;float:right;width:204px}.bg_list li,.list ul li a{float:left;text-align:center}.bg_list li{width:68px;line-height:22px}.bg_list li.current{width:68px;background:#219C30;color:#fff}.bg_table{text-align:center;color:#585f5a}.bg_table table{border:1px solid #ececec}.bg_table td,.bg_table th{padding:10px 2px;border:1px solid #ececec;background:#fff;text-align:center}.bg_table td a{color:#ed9832}.weui_input,.weui_input_1{border:0;background-color:transparent;font-size:inherit;color:inherit;height:1.41176471em;line-height:1.41176471;overflow:hidden;text-overflow:ellipsis;display:block}.wid_45{width:45%}.weui_cells_form .weui_cell_hd{padding-right:.1em}.weui_input{width:100%}.weui_input_1{width:100%;white-space:nowrap}.weui_p{height:3em;line-height:1.5em;word-break:break-all;word-wrap:break-word;display:block;overflow-y:visible;-webkit-overflow-scrolling:touch}.tab_cc,.user-text{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.v_top{vertical-align:top}.log_mar{margin:16px 12px 12px}.set_data{padding-right:14px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}.search_input,.tab-l{box-sizing:border-box}.con_h{z-index:999;margin-bottom:140px}.btn_fix_0{padding:15px 0}.btn_fixed{width:100%}.btn_blok{display:flex}.btn_three{padding:0 15px;width:100%}.weui_dialog_confirm .weui_dialog .weui_dialog_hd.log_err{padding:1em .5em 0}.header{color:#fff;-moz-box-shadow:0 2px 4px #999;box-shadow:0 2px 4px #999}.header_title{text-align:center;height:2.8em;line-height:2.8em;font-size:1em}.current_user{width:56px;height:2.8em;background:url(../images/Current_user.png) center no-repeat;background-size:1.6em;position:absolute;right:0;top:0}.search{padding:.6em;background:#eee;border-bottom:1px solid #ddd;position:relative;margin-top:4px}.search_sr{height:2em;margin-right:66px}.search_input{width:100%;height:100%;padding:.2em .6em;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;display:block;background:#fff;border-radius:0;font-size:12px;color:#333}.list ul li a,.tab-l{border-bottom:1px solid #ddd;color:#515252}.search_btn{width:56px;height:2em;position:absolute;top:.6em;right:.6em;background:url(../images/btn_search.png) center no-repeat #EE9833;background-size:1.4em;border-radius:3px}.list{background:#f4f4f4;height:2.2em;line-height:2.2em}.list ul li a{width:25%;font-size:.75em}.tab-l,.tab-r{font-size:14px}.list ul li a.current{border-color:#EE9833}.tab{height:75px}.tab-l{width:80%;padding:4px 8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}.tab-r,.xm-zt table td,.xm-zt table th{border-left:1px solid #ddd;border-bottom:1px solid #ddd;box-sizing:border-box}.tab-r{width:20%;color:#666;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;line-height:74px}.xm-kf,.xm-zt{font-size:.75em}.tab-r a{color:#3879D9}.Receivables,.xm-kf,.xm-zt{color:#515252}.tab_cc{display:block}.f-tc{text-align:center}.f-tl{text-align:left}.feedlist,.listdata li,.xm-zt,.xm-zt th{text-align:center}.bor-r-no{border-right:none}.xm-kf{margin:15px auto;width:96%}.xm-kf table tr td{padding:4px 0}.xm-zt table{border-top:1px solid #ddd;border-right:1px solid #ddd}.xm-zt table td,.xm-zt table th{padding:3px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;word-wrap:break-word;word-break:break-all;}.Receivables{width:98%;margin:0 auto;padding:8px;font-size:.8em;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;background:#fff;position:relative;z-index:999}.Receivables table td{padding:4px 0}.sk_btn{width:45%;padding:.4em 0;margin:15px auto;color:#fff;border-radius:4px;font-size:1.2em;background-color:#219C30}#dialog1{display:none}.down,.user-center,.user-text{display:inline-block}.user-center{width:2.2em;margin:.2em .3em 0 0;height:2.2em}.user-icon{background:url(../images/Current_user.png) no-repeat;background-size:2em 2.1em}.posi-absoltop{position:absolute;z-index:9988;right:0;top:2.8em;width:50%;background: #262b27;display:none}.exit-btn{line-height:1.8em}.weui_btn_red{ background: #cd0000;padding-top: .25em;padding-bottom:.25em}.user-text{width:100%;margin: .8em 0;font-size: 1.25em;color: #fff;}.exit{padding:0.1em 0.7em;margin:.3em 0 .5em}.posi-reli{position:relative;padding:2px 4px}.mar-top{margin-top:.6em}.down{width:2.2em;height:1.2em}.down-icon{background:url(../images/set_down.png) bottom no-repeat}.up-icon{background:url(../images/set_up.png) bottom no-repeat}.detal-info .weui_cell{padding:2px 0}.detal-info .weui_cell_bd{font-size:.8em}.posi-reli .notice-btn{width:40%}.sendform,.text_area{width:100%}.backlist .clear{clear:both;border:none}.feedlist li,.listdata li{list-style-type:none;border-bottom:1px solid #EEE;border-right:1px solid #EEE}.backlist{margin-top:.2em}.backlist .frist{border:1px solid #EEE}.feedlist{display:block}.feedlist li{border-top:1px solid #eee}.listdata{display:block;border-left:1px solid #EEE}.sendform tr td{font-size:.9em;padding-bottom:.5em;color:#333}.sendform .weui_input{border:1px solid #ddd;padding:4px 2px;font-size:.9em}.weui_cell .weui_btn_dialog2{padding:3px 10px;font-size:.8em}.weui_dialog .weui_bottom{margin-top:0}.weui_dialog .btn_fix_0{padding:8px 15px 15px}.text_area{padding:2px;resize:none;height:7em;border:1px solid #ddd}.checked{background:#dbefdd} .listtable {width:100%;border-collapse:collapse; } .listtable tr td {border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 4px 6px;color:#333;}.listtable tr td a, .listtable tr td a:link, .listtable tr td a:hover, .listtable tr td a:visited, .listtable tr td a:active {color: #5C5CEF;}.listtable tr td ul li { font-size: 0.9em;word-wrap: break-word;word-break: break-all;}.detal-info table {width: 100%;font-size: .75em;}.detal-info table tr td{padding:2px 1px; word-wrap: break-word; word-break: break-all;min-width: 60px;}.xm-zt table th {font-weight:600;}
.weui-cell_bd {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    position: relative;
}
 .weui-cell_select {
  padding: 0;
}
.weui-cell_select .weui-select {
  padding-right: 30px;
}
.weui-cell_select .weui-cell_bd:after {
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
          transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: relative;
  top: -2px;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -4px;
}
.weui-select {
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  background-color: transparent;
  width: 100%;
  height:2em;
  line-height: 1.5;
  position: relative;
  z-index: 1;
  padding-left: 15px;
  color: #333;
  font-size: 1em;
  font-family: inherit
}

.weui-cell_select-before {
  padding-right: 15px;
}
.weui-cell_select-before .weui-select {
  width: 105px;
  box-sizing: border-box;
}
.weui-cell_select-before .weui-cell_hd {
  position: relative;
}
.weui-cell_select-before .weui-cell_hd:after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  bottom: 0;
  border-right: 1px solid #D9D9D9;
  color: #D9D9D9;
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
}
.weui-cell_select-before .weui-cell_hd:before {
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
          transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: relative;
  top: -2px;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -4px;
}
.weui-cell_select-before .weui-cell_bd {
  padding-left: 15px;
}
.weui-cell_select-before .weui-cell_bd:after {
  display: none;
}
.weui-cell_select-after {
  padding-left: 15px;
}
.weui-cell_select-after .weui-select {
  padding-left: 0;
}
.editicon {
    display:inline-block;
    background:url(../images/edit-icon.png) no-repeat left;
    height:17px;width:20px;
    vertical-align: text-bottom;
    margin-left:5px;
}
.list{position:relative;height:2.2em;line-height:2.2em;background-color:rgba(146, 142, 142, 0.21); border-bottom:1px solid #DEDDDD;}
.bgcolor{background-color:#219C30; position: absolute; z-index:-1; width: 33%; height: 36px; left: 0; top: 0;}
.list ul {
    display:block;
}
.list ul li {
    float:left;
    width:33%;
    text-align:center;
}
.list ul li a {
    float:none;
    border:none;
    background-color:transparent;
    display:block;width:100%;
}
.list ul li a.current{
    color:#fff;
    border:none;
}
.wrong-text {
    text-align:center;
    color:#f3300c;
    font-size:1.2em;
}
.money{
    border:1px solid #c7cdcf;
    padding:3px 4px;
    height:20px;
    width:50px;border-radius:3px;
}
.weui_dialog .tbgreen {
    background:#219C30;
    padding:0.2em 0;
    text-align:left;

}
.weui_dialog .tbleft {
    padding-left:15px;
    text-align:left;
    color:#fff;
    font-size:14px;
}
.posi-absoltop .wrap-top {
    background: #181a19;
    height: 1em;
}
.posi-absoltop ul {
    margin-top:0;
} 
.posi-absoltop .wrap-line {
    border-top: 1px solid #000;
    border-bottom: 1px solid #383d39
}
.posi-absoltop ul li.txt {
    padding: 0;
}
.posi-absoltop ul li.txt a {
    clear: both;
    width: 100%;
    display: inline-block;
    height: 100%;
    color: #fff;
    background: #262b27;
    line-height:2.25;
    font-size: 1em;
    vertical-align: middle;
    padding: .25em 0;
}
.posi-absoltop ul li.txt.other a {
      background: #262b27
}
.posi-absoltop ul li.txt a:hover{
    background: #219C30;
}
.posi-absoltop ul li.txt a .arrow {
    width: 30%;
    color: #fff;
}
.posi-absoltop ul li a.txt .text {
    width: 70%;
}
.logout {
     background: url(../images/logout.png) no-repeat;
     padding-left: 20px;
     height: 1.8em;
}
.wrap {
    padding: 2em;
}
    .wrap h2 {
        margin-top: .25em;
        font-weight: 700;
    }
    .posi-absoltop .fa {color:#fff}
    .circle {
        border-radius: 100%; 
        background: #70EA7F; 
        display: inline-block;
         height: 2.4em; 
         line-height: 2.4em;
          font-size: 1em; 
          width: 2.4em; 
          margin-top: 0.2em; 
          margin-right: 0.2em;
    }
     .circle .fa {
         width: 2.4em; 
         color: #219C30;
     }
     .fa-chevron-down.fa-chevron-up:before {
         content:"\f077"!important
     }
         .cardlist {
        background: #f2f3f3;
    }

        .cardlist .card {
            margin-bottom: 1em;
            padding: .5em 1em 1.5em 1em;
            background: #fff;
        }

            .cardlist .card .card-title {
                font-size: .9em;
                color: #219C30;
                line-height: 1.25;
            }

                .cardlist .card .card-title.border {
                    border-bottom: 1px solid #bbb;
                }

                .cardlist .card .card-title i.fa {
                    color: #219C30;
                }

            .cardlist .card .xm-kf {
                margin: 0 auto;
               
            }
             .cardlist .card .xm-kf tr td{
              word-break:break-all;
               word-wrap:break-word;

             }
             .cardlist .card .f-fwb-title {
               white-space: nowrap
            }
            .cardlist .card .card-body .card-title {
                margin-bottom: .25em;
            }

            .cardlist .card .card-body .info {
                font-size: .75em;
                border-top: 1px solid #bbb;
                padding: .25em;
            }

                .cardlist .card .card-body .info .info-title {
                    color: #777;
                }

                .cardlist .card .card-body .info .info-body {
                    color: #363131;
                    zoom: 1;
                }
                .info-body:after, .info-body::after{
                     clear: both;
                 }
                    .cardlist .card .card-body .info .info-body .weui_cells.weui_cells_checkbox {
                        border-bottom: 1px solid #bbb;
                    }
                        .cardlist .card .card-body .info .info-body span.pull-left{
                        width: 50%;
                    }
                          .cardlist .card .card-body .info .info-body span.pull-left.md{
                        width: 60%;
                    }
                               .cardlist .card .card-body .info .info-body span.pull-left.sm{
                        width: 40%;
                    }

            .cardlist .card .card-body .weui_cell_primary p {
                font-size: .75em;
            }
            .clearfix{ zoom: 1;}
            .clearfix:after{
               clear:both;content:"";display:block;height:0;
            }
            .weui_loading_toast .weui_toast{z-index:1001}
             .hd {
        padding: 2em .25em;
    }

    .page_title {
        text-align: center;
        font-size: 1em;
        font-weight: 400;
        margin: 0 15%;
    }

    .weui_article h1 {
        font-size: .8em;
        font-weight: 400;
        margin-bottom: .75em;
    }

    .hd .weui_cells {
        margin-top: 1em;
    }

        .hd .weui_cells .weui_cell {
            border-bottom: 1px solid #ccc;
            font-size: .75em;
        }

            .hd .weui_cells .weui_cell .weui_cell_hd {
                color: #999;
            }
                .wrap {
        padding: .5em;
        font-size: 1em;
    }

        .wrap img {
            width: 80%;
            height: 80%;
            display: block;
            text-align: center;
            margin: 0 auto;
        }

        .wrap h1 {
            font-weight: 700;
        }

        .wrap p {
            text-indent: 1.5em;
            margin-top: .25em;
        }

    .tip {
        margin-top: .5em;
    }
    .content {
        margin-top: .5em;
    } .content p {
        font-size: 1em;
        margin-top: .25em;
    }
      .groups .weui_btn{ display: inline-block;margin-left:7%}
      .groups .weui_btn+.weui_btn{ margin-top: 0;}
      .reason{ width: 100%;height: 3em;}
      .no-paddding .card{padding:.5em}
      .no-data{background:#fff;margin:1.5em auto;}
    